Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@kushwahji 
kushwahji
/
asmequestions
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
asmequestions/.gitignore

kushwahji blog
Latest commit 5c03e5c 2 days ago
 History
 1 contributor
44 lines (37 sloc)  540 Bytes

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
.vscode/
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
You have no unread notifications