<nav class="navbar navbar-default" style="
  margin-bottom: 0 !important;
  border: 0 !important;
  ">
  <div class="container-fluid">
    <a class="navbar-brand mt-2 mt-lg-0" style="color: #cb560c!important;" routerLink="/">
      <!--<img
        src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
        height="15"
        alt="MDB Logo"
        loading="lazy"
      /> -->
     <b>AskMeQuestion</b> 
    </a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/"><i class="icon ion-home"></i> Home</a></li>
        <li class="dropdown hidden">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i class="icon ion-document"></i> <i
              class="icon ion-arrow-up-right"></i> Course<span class="caret"></span></a>
          <ul class="dropdown-menu ">
            <li><a href="#">Core Java</a></li>
            <li><a href="#">Advance Java</a></li>
            <li><a href="#">Spring Boot</a></li>
            <li><a href="#">Hibernate</a></li>
            <li><a href="#">Jpa</a></li>
          </ul>
        </li>
        <li *appShowAuthed="true"><a class="nav-link" routerLink="/editor" routerLinkActive="active">
            <i class="ion-compose"></i>&nbsp;New Article
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li *appShowAuthed="false">
          <a routerLink="/login" routerLinkActive="active">
            <span class="glyphicon glyphicon-user"></span> Sign Up</a>
        </li>
        <li *appShowAuthed="false">
          <a routerLink="/register" routerLinkActive="active">
            <span class="glyphicon glyphicon-log-in"></span> Login</a>
        </li>
        <li class="dropdown" *appShowAuthed="true">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <img [src]="currentUser.image"
              *ngIf="currentUser.image" class="user-pic" /> 
              <a href="#" data-toggle="tooltip" title={{currentUser.username}}>
                <i class="icon ion-person"></i> H!</a>
              <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a class="nav-link" routerLink="/settings" routerLinkActive="active">
                <i class="ion-gear-a"></i> Setting
              </a>
            </li>
            <li>
              <a class="nav-link" [routerLink]="['/profile', currentUser.username]" routerLinkActive="active">
                <i class="icon ion-person"></i> Profile
              </a>
            </li>
            <li><a href="#" (click)="logout()"><i class="icon ion-log-out"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right">
        <div class="input-group ">
          <input type="text" class="form-control" placeholder="What is yout question ?">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>
